// Import Files
@import '../../styles/globalStyling/layout';

body {
  @include animation-gradient-bg-2();
  transition: 0.2s;
}

main {
  background: var(--main-background);
  backdrop-filter: var(--backdrop-filter);
  margin-top: 8.8vh;
  transition: 0.2s;
}

// Section Style
.section-shared {
  padding: 5.2rem 4rem;
  // @include flex-jb-is();
  @include grid();
  grid-template-columns: 27.5rem 1fr;
  grid-column-gap: 8rem;
}

// ----- Choose Profile Photo -----
.profile-photo-container {
  width: 27.5rem;
  min-width: 27.5rem;
  height: min-content;
  @include column-jc-ic();
  background: var(--primary-bg);
  padding: 2rem;
  // margin-right: 8rem;
  border-radius: 2rem;

  // Photo
  .image-box {
    width: 100%;

    img {
      width: 100%;
      border-radius: 2rem;
    }
  }

  // Buttons Container
  .profile-photo__btn {
    width: 100%;
    @include column-jc-ic();

    // Button
    .btn-primary-b-m {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

//
#profile-second-section {
  width: 100%;
  @include grid();
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;

  h3 {
    // @include flex-js-ic();
    color: var(--primary-text);
    font-weight: 600;
  }

  button {
    width: fit-content;
  }
}

// ----- Choice Your Cover Image -----
#choice-cover {
  @include column-js-is();
  grid-column-start: 1;
  grid-column-end: -1;
}

// Choose Image
#choice-cover__choose-image {
  // @include flex-js-is();
  @include grid();
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;

  .image-box-m:not(:first-child) {
    &:hover {
      border: 0.2rem solid var(--primary-purple);
      cursor: pointer;
    }
  }

  .image-box-m:not(:last-child) {
    margin-right: 1rem;
  }
}

// ----- Account Info, Your social media -----
.forms {
  // margin-top: 4rem;

  .form-divider,
  .btn-blue-m {
    margin-top: 2rem;
  }
}

.textarea {
  height: 9rem;
}

.dz-message {
  display: none;
}
