// @import './layout';

// ----- Icons -----
.verfied-icon-s {
  width: 1.5rem;
  height: 1.5rem;
  @include flex-jc-ic();
  background: var(--primary-blue);
  color: var(--background);
  border-radius: 50%;
  font-size: 1rem;
}

.icon-s {
  color: var(--primary-text);
  font-size: $font-m;
}

.icon-box-xs {
  width: 2.5rem;
  height: 2.5rem;
  @include flex-jc-ic();
  transition: 0.2s;
  
  &:hover {
    @include gradient-top();
  }
}

.icon-box-s {
  width: 3.7rem;
  height: 3.7rem;
  @include flex-jc-ic();
  background: var(--icon-color);
  border-radius: 1.3rem;
  font-size: $font-l;
  transition: 0.2s;

  i {
    @include gradient-top-right();
  }

  &:hover {
    background: var(--primary-bg);
  }
}

.social-icon-box {
  width: 3.7rem;
  height: 3.7rem;
  @include flex-jc-ic();
  background: var(--primary-bg);
  color: var(--primary-text);
  border-radius: 0.5rem;
  font-size: $font-22;
  transition: 0.2s;

  &:hover {
    background: $blue1;
    color: var(--background);
  }
}

.login-icon-box {
  width: 3.7rem;
  height: 3.7rem;
  @include flex-jc-ic();
  background: var(--primary-bg);
  color: var(--primary-text);
  border-radius: 0.5rem;
  font-size: $font-22;
  transition: 0.2s;

  &:hover {
    color: var(--background);
  }
}

.icon-box-m {
  width: 5.05rem;
  height: 5.05rem;
  @include flex-jc-ic();
  background: var(--primary-bg);
  border-radius: 1.6rem;
  font-size: $font-22;
}

// ----- Image Box -----
.image-box-m {
  // width: 30rem;
  min-width: 20rem;
  height: 15rem;
  @include flex-jc-ic;
  border: 0.2rem solid var(--primary-bg-light);
  border-radius: 1.2rem;
  transition: 0.2s;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.profile-image-box-xs {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;

  img {
    border-radius: 1.5rem;
  }
}

.profile-image-box-s {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 1.5rem;

  img {
    border-radius: 1.5rem;
  }
}

.profile-image-box-s {
  width: 6.2rem;
  height: 6.2rem;

  img {
    border-radius: 2.1rem;
  }
}

.profile-image-box-l {
  width: 9.6rem;
  height: 9.6rem;
  position: relative;

  img {
    border-radius: 3.5rem;
  }

  span {
    width: 2.3rem;
    height: 2.3rem;
    @include flex-jc-ic();
    position: absolute;
    background: var(--primary-blue);
    top: 7.1rem;
    left: 7.1rem;
    border-radius: 50%;

    i {
      @include flex-jc-ic();
      color: var(--background);
      font-size: $font-14;
    }
  }
}

// ----- Badge -----
.badge-blue {
  background: var(--primary-blue);
  color: var(--background);
  padding: 0.4rem 1.1rem;
  border-radius: 1rem;
  font: {
    size: $font-12;
    weight: $weight-700;
  }
}

.badge-number {
  @include flex-jc-ic();
  padding: 0.1rem 0.85rem;
  background: var(--orchid);
  color: var(--background);
  font-size: $font-12;
  border-radius: 3rem;
}

// ----- hr tag -----
hr {
  background: var(--shadow);
  height: 2px;
  margin: 1.6rem 0;
  border: none;
}

// ---- Scrollbar for Google Chrome ----
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-purple-t);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 5px;
}

// ---- Scrollbar for FireFox ----
:root {
  scrollbar-color:var(--primary-purple) var(--primary-purple-t)  !important;
  scrollbar-width: thin !important;
}

// ----- Hover -----
@mixin card-hover {
  &:hover {
    border: 2px solid var(--primary-purple-t);
    @include transform-3d();

    .nft-card__image {
      .image-box {
        .place-bid {
          display: flex;
        }
      }
    }
  }
}

// ----- Logo -----
.logo {
  @include flex-js-ic();
  color: var(--primary-text);
  margin-right: 6.5rem;
  font: {
    size: $font-2xl;
    weight: $weight-500;
  }
  transition: 0.2s;

  i {
    @include gradient-top-right();
    margin-right: 1rem;
    font-size: 3.5rem;
  }

  &:hover {
    @include gradient-top-right();
  }
}

// ----- Input -----
// Form
#signin__form {
  width: 100%;
  @include column-js-is();
  margin-top: 4rem;
}

.form-divider {
  @include column-js-is();
  
  .label {
    margin-bottom: 0.7rem;
  }
}

.label {
  color: var(--secondary-text);
  margin-left: 1rem;
  font-size: $font-14;
}

.input {
  background: transparent;
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--primary-bg-light);
  transition: 0.2s;

  &:focus-within {
    border: 2px solid var(--primary-purple);
    box-shadow: 0 0 0 4px var(--primary-purple-t2);
  }
}

// Password text style
#password {
  font: 140% system-ui;
}

.input-form {
  @include flex-jb-ic();
  width: 29rem;
  padding-left: 2.2rem;
  border: 0.2rem solid $gray3;
  border-radius: 0.9rem;
  transition: 0.2s;

  .input {
    
    background: transparent;
    color: $gray3;

    &:focus {
      color: var(--primary-text);
    }
  }

  .input-form__btn {
    background: var(--primary-blue);
    padding: 1rem;
    border-radius: 0 0.7rem 0.7rem 0;
    transition: 0.2s;

    i {
      font-size: 2rem;
      color: var(--background);
    }

    &:hover {
      background: var(--primary-purple);
    }
  }

  &:focus-within {
    border: 2px solid var(--primary-purple);
  }
}

// ----- Arrows -----
.arrow {
  display: inline-block;
  border: solid var(--primary-text);
  border-width: 0 0.24rem 0.24rem 0;
  padding: 0.27rem;
  border-radius: 0.2rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// .down {
// }

// ----- Profile Card -----
.profile-card-s {
  @include flex-js-ic();
  background: var(--primary-bg);
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 1.5rem;
  transition: 0.2s;

  .info {
    @include column-js-cs-is();
    margin-left: 1rem;

    .info__role {
      color: var(--secondary-text);
      font-size: $font-12;
    }

    .info__name {
      color: var(--primary-text);
      margin-top: 1rem;
      font: {
        size: $font-13;
        weight: $weight-600
      }
    }
  }
}

// Small Box
.box-xs {
  width: 50%;
  background: var(--primary-bg);
  color: var(--primary-text);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: 0.2s;
}


