// Import Files
@import '../globalStyling/layout';
// @import '../globalStyling/reset';
// @import '../globalStyling/variable';
// @import '../globalStyling/components';
// @import '../globalStyling/color';

// Footer Style
#main-footer {
  @include flex-js-is();
  background: var(--secondary-bg);
  padding: 8rem 4rem;
  transition: 0.2s;
}

// ----- Logo and Info -----
#footer-informations {
  width: 18%;
  margin-right: 13rem;
  
  .logo {
    color: var(--primary-text);
  }
  
  #footer__information {
    color: var(--primary-text);
    margin-top: 3rem;
    font-size: $font-14;
  }
}

// ----- Nav -----
#footer-nav {
  @include flex-jc-ic();
  width: 50%;

  // List ////////// Subscribe and Social
  .footer-nav__list, .contact-us {
    @include column-js-is();
    width: 100%;

    
    // Items
    .list__items {
      
      .list__item {
        margin-top: 2rem;
        font: {
          size: 1.3rem;
          weight: 500;
        }
        
        a {
          color: var(--secondary-text);
          
          &:hover {
            text-decoration: 0.2rem underlinevar(--secondary-text);
          }
        }
      }
    }
  }
}

// Nav Header //     Subscribe
.footer-nav__header, .subscribe {
  @include text-16-white();
  margin-bottom: 3rem;
}

.subscribe .input {
  border: n
}

// ----- Subscribe / Social -----
.social-links {
  @include flex-jc-ic();
  margin-top: 3rem;

  .social-icon-box:not(:last-child) {
    margin-right: 1rem;
  }
}