// Import Files
@import '../globalStyling/layout';

// ----- Main Header -----
.main-header {
  width: 100%;
  height: 8.8vh;
  @include flex-jb-ic();
  background: var(--main-background);
  backdrop-filter: var(--header-backdrop-filter);
  padding: 0 4rem;
  box-shadow: inset 0px -2px 0px var(--shadow);
  position: fixed;
  top: 0;
  z-index: 110;
  transition: 0.2s;
}

// header__section1
.header__section1,
.header__section2 {
  @include flex-jb-ic();
}

// ----- Mega Menu -----
.mega-menu-container { 
  
  .mega-menu__main-list {
    @include flex-jc-ic();
    
    .mega-menu__main-list__item {
      a {
        color: var(--primary-text);
        margin-right: 3rem;
        cursor: pointer;
        font: {
          size: $font-m;
          weight: $weight-500;
        }
    
        i {
          margin-left: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}

// Dropdown
.mm-dropdown{
  width: 100%;
  height: 100%;
  @include flex-jc-ic();
  position: fixed;
  // z-index: 1;
  top: 8.8vh;
  left: 0;
  // transform: translateY(-100%);
  transform: translateY(0);
  transition: transform 0.5s;
  z-index: 145;
  
  .mega-menu__secondary-list {
    width: 100%;
    height: 100%;
    background: var(--primary-bg);
    padding: 2rem 4rem;
    margin: 0 4rem;
    border: 0.2rem solid var(--shadow3);
    border-top: 0;
    border-radius: 0 0 1rem 1rem;
  }
}

// ----- Wallet Connect -----
#wallet-connect-container {
  margin: 0 8.7rem 0 3.8rem;
}

// ----- Header Buttons -----
#header-btn-container {
  @include flex-jc-ic();

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

// ----- Search Box -----
// Search Button
#search-btn {
  @include flex-jc-ic();
}

#search-box-container {
  width: 100%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8.8vh;
  transform: translateY(-100%);
  z-index: 100;
}

#search-box {
  width: 50rem;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
  @include flex-jb-ic();
  position: fixed;
  top: 1rem;
  background: var(--main-background);
  backdrop-filter: var(--header-backdrop-filter);
  padding: 1rem 0.3rem 1rem 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0 2px var(--primary-purple-t);
  z-index: 100;
  transition: 0.2s;
  visibility: hidden;
  transform: translateY(-100%);
  // @include to-down-animation();

  // Input
  #search-box__input {
    width: 80%;
    font-size: 1.8rem;
    color: var(--primary-text);
  }

  // Button
  #search-box__btn {
    width: 4rem;
    height: 4rem;
    @include flex-jc-ic();
    border-radius: 1.2rem;

    &:hover {
      background: var(--primary-purple);
    }
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--primary-purple);
  }
}

// ----- Theme Mode ----
.theme-mode {
  @include flex-jc-ic();
  button {
    margin: 0 0.65rem;

    img {
      border-radius: 1.3rem;
    }
  }
}
// cart-items
// ----- Cart Menu -----
// Button in header
#cart-btn-open {
  position: relative;

  .badge-number {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
  }
}

#overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--overlay);
  padding: 2rem;
  transition:  0.4;
  z-index: 149;
  visibility: hidden;

}

#cart-menu {
  height: 100vh;
  width: 30%;
  @include column-jc();
  position: fixed;
  top: 0;
  right: 0;
  background: var(--primary-bg);
  padding: 2rem;
  transition: 0.4s;
  z-index: 150;
  transform: translateX(100%);
  visibility: hidden;

  span,
  h2 {
    color: var(--primary-text);
  }
}

// Header
#card-menu__header {
  @include flex-jc-ic();
  margin-top: 2rem;
  position: relative;
}

// Cart Items Container
.cart-items {
  @include column-js-is();
  margin-top: 2rem;
  position: relative;
}

// Item
.cart-item {
  @include flex-jb-ic();
  position: relative;
  padding: 1rem;
  border: 0.2rem solid var(--icon-color);
  border-radius: 1.5rem;

  .cart-item__img-details {
    @include flex-js-ic();

    // Details(Name, Price)
    .cart-item__details {
      @include column-js-is();
      margin-left: 1rem;

      // NFT Name
      .nft-name {
        margin-bottom: 1rem;
        font: {
          size: $font-16;
          weight: $weight-500;
        }
      }
    }
  }

  // Last Section
  .cart-item__last-section {
    @include column-jc-ie();

    // Remove Button
    .remove-nft {
      margin-top: 1rem;
      font-size: $font-12;
    }
  }
}

// Cart Total
#total-price {
  @include flex-jc-ic();
  padding-top: 1rem;
  border-top: 0.2rem solid var(--shadow);

  .total-price__price {
    font: {
      size: $font-21;
      weight: $weight-500
    }
  }
}

// ----- Sign in modal ------
#signin-modal {
  width: 30rem;
  @include column-jc-ic;
  position: fixed;
  top: 8rem;
  right: 2rem;
  background: var(--primary-bg);
  border-radius: 1rem;
  box-shadow: inset 0px 0px 2px var(--secondary-text);
  z-index: 140;
  display: none;
  
  // Header
  #signin-modal__header {
    width: 100%;
    @include flex-jb-ic();
    padding: 1rem;
    box-shadow: inset 0px -1px 0px var(--secondary-text);

    #signin-modal__content {
      @include flex-js-ic();

      #signin-modal__logo {
        width: 1.5rem;
        height: 1.5rem;
        @include flex-js-ic();
      }
  
      span {
        @include flex-js-ic();
        color: var(--primary-text);
        margin-left: 1rem;
        font: {
          size: $font-16;
          weight: $weight-600;
        }
      }
    }
  }

  // Sign in/up button
  #button-container {
    width: 100%;
    @include column-jc-ic;
    padding: 1rem;

    .btn-b-m {
      width: 100%;
      margin: 1rem 0;
    }

    #signin-modal__signin {
      background: var(--primary-purple);
      color: var(--background);
    }
  }
}


// #mega-menu-container {
//   width: 100%;
//   position: fixed;
//   top: 8.8vh;
//   background: rgb(177, 150, 150);
//   border-radius: 0 0 1rem 1rem;
// }

.min-anv {
  @include flex-js-ic();
  color: var(--primary-text);

  .nav-item {
    ma rgin-right: 2rem;

    &:not(:last-child) {

    }
  }
}