@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Urbanist;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1rem;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  font-weight: normal;
}

p, span {
  line-height: 1.5;
}

input, textarea {
  all: unset;
  font-size: 1.5rem;
}

textarea {
  resize: none;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  all: unset;
  cursor: pointer;
}

.dropzone-input {
  all: unset;
}

:root {
  --primary-text: #ffffff;
  --secondary-text: #adadb0;
  --background: #ffffff;
  --primary-bg: #343444;
  --primary-bg-light: #45455a;
  --secondary-bg: #000000;
  --black: #000000;
  --primary-blue: #5142fb;
  --primary-blue-t: rgba(81, 66, 251, 0.678);
  --primary-purple: #6945f7;
  --primary-purple-t: rgba(135, 106, 250, 0.521);
  --primary-purple-t2: rgba(135, 106, 250, 0.068);
  --orchid: #c750e5;
  --green: #46a433;
  --red: #df4949;
  --main-red: #fa243c;
  --main-red-dark: #db2137;
  --shadow: #292933;
  --shadow2: rgba(255, 255, 255, 0);
  --shadow3: rgba(173, 173, 176, 0.364);
  --overlay: rgba(0, 0, 0, 0.3);
  --icon-color: rgba(255, 255, 255, 0.288);
  --twitter: #1d9bf0;
  --facebook: #1877f2;
  --google: #ea4335;
  --primary-gradiant-bg: rgb(52, 52, 68);
  --primary-gradiant: linear-gradient(
    69deg,
    rgba(52, 52, 68, 1) 55%,
    rgba(52, 52, 68, 0.49093140674238445) 100%
  );
  --main-background: rgba(0, 0, 0, 0.8);
  --backdrop-filter: saturate(280%) blur(2rem);
  --header-backdrop-filter: saturate(560%) blur(2rem);
}

.light-theme {
  --primary-text: #1f1415;
  --secondary-text: #68686b;
  --primary-bg: #eeeeff;
  --primary-bg-light: #808093;
  --secondary-bg: #f8f9fc;
  --primary-blue: #5142fb;
  --primary-blue-t: rgba(81, 66, 251, 0.678);
  --primary-purple: #6945f7;
  --primary-purple-t: rgba(105, 69, 247, 0.521);
  --orchid: #c750e5;
  --green: #46a433;
  --red: #df4949;
  --shadow: #b2b2dd;
  --shadow2: rgba(0, 0, 0, 0.103);
  --shadow3: rgba(131, 131, 133, 0.421);
  --icon-color: rgba(0, 0, 0, 0.158);
  --primary-gradiant-bg: rgb(238, 238, 255);
  --primary-gradiant: linear-gradient(
    69deg,
    rgba(238, 238, 255, 1) 55%,
    rgba(238, 238, 255, 0) 100%
  );
  --main-background: rgba(255, 255, 255, 0.8);
  --backdrop-filter: saturate(280%) blur(20px);
  --header-backdrop-filter: saturate(560%) blur(20px);
}

button {
  box-sizing: border-box;
}

.likes {
  background: var(--secondary-bg);
  color: var(--primary-text);
  padding: 0.4rem 0.8rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.2s;
}
.likes:hover {
  background: var(--primary-text);
  color: var(--secondary-bg);
}

.btn-blue-m {
  background: var(--primary-blue);
  color: var(--background);
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
.btn-blue-m:hover {
  color: var(--background);
  box-shadow: 0 0 0 0.2rem var(--primary-text);
}
.btn-blue-m:active {
  box-shadow: 0 0 0 0.2rem var(--primary-purple);
}

.btn-b-m {
  background: transparent;
  color: var(--primary-text);
  padding: 0.7rem 1.4rem 0.7rem 0;
  box-shadow: 0 0 0 0.2rem #5e5e5e;
  border-radius: 3rem;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
.btn-b-m i {
  margin: 0 1rem 0 1.4rem;
}
.btn-b-m:hover {
  color: var(--primary-text);
  box-shadow: 0 0 0 0.2rem var(--primary-text);
}
.btn-b-m:active {
  box-shadow: 0 0 0 0.2rem var(--primary-purple);
}

.btn-primary-b-m {
  background: transparent;
  color: var(--primary-text);
  padding: 0.7rem 4rem;
  border: 0.2rem solid var(--primary-text);
  border-radius: 3rem;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
.btn-primary-b-m i {
  margin: 0 1rem 0 1.4rem;
}
.btn-primary-b-m:hover {
  color: var(--primary-text);
  border: 0.2rem solid var(--primary-purple);
}
.btn-primary-b-m:active {
  border: 0.2rem solid #5142fb;
}

.btn-b-l {
  background: transparent;
  color: var(--primary-text);
  padding: 1.5rem 3.8rem;
  box-shadow: 0 0 0 0.2rem var(--primary-text);
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 0.2s;
}
.btn-b-l i {
  margin: 0 1rem 0 1.4rem;
}
.btn-b-l:hover {
  color: var(--primary-text);
  box-shadow: 0 0 0 0.2rem var(--primary-purple);
}
.btn-b-l:active {
  box-shadow: 0 0 0 0.2rem #5142fb;
}

.btn-xs {
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--primary-text);
  border-radius: 50%;
  transition: 0.2s;
}
.btn-xs:hover {
  box-shadow: 0 0 0 0.2rem var(--primary-text);
}

.btn-s-2 {
  background: var(--primary-bg);
  color: var(--primary-text);
  padding: 0.8rem 1.1rem;
  border-radius: 3rem;
  transition: 0.2s;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn-s-2 i {
  margin-right: 1rem;
}
.btn-s-2:hover {
  background: var(--primary-purple);
  color: var(--background);
}

.btn-s-3 {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  color: var(--primary-text);
  border-radius: 50%;
  transition: 0.2s;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn-s-3:hover {
  background: var(--primary-purple);
  color: var(--background);
}

.btn-s {
  background: red;
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  transition: 0.2s;
}
.btn-s i {
  margin-right: 1rem;
}
.btn-s:hover {
  background: var(--main-red-dark);
}

.btn-l {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
  padding: 1.4rem 3.6rem;
  box-shadow: 0 0 0 0.2rem #5142fb;
  border-radius: 3rem;
  font-size: 1.4rem;
}
.btn-l i {
  margin-right: 1rem;
}
.btn-l:hover {
  background: linear-gradient(238deg, #c750e5, #6945f7, #c750e5, #5142fb);
  background-size: 800% 800%;
  animation: AnimationName 4s ease infinite;
  color: var(--background);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.514);
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-l:active {
  box-shadow: 0 0 0 0.2rem #ffffff;
}

.btn-l-buy {
  background: var(--background);
  color: var(--black);
  padding: 1.1rem 2.1rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.2s;
}
.btn-l-buy i {
  color: var(--primary-purple);
  margin-right: 1rem;
}
.btn-l-buy:hover {
  box-shadow: 0 0 0 0.7rem var(--primary-purple-t);
}
.btn-l-buy:active {
  box-shadow: 0 0 0 1.1rem var(--primary-purple-t);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343444;
  color: var(--primary-text);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.timer i {
  color: #c750e5ff;
  margin-right: 1rem;
}

.verfied-icon-s {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-blue);
  color: var(--background);
  border-radius: 50%;
  font-size: 1rem;
}

.icon-s {
  color: var(--primary-text);
  font-size: 1.4rem;
}

.icon-box-xs {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.icon-box-xs:hover {
  background: linear-gradient(0deg, #6945f7, #c750e5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-box-s {
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--icon-color);
  border-radius: 1.3rem;
  font-size: 1.6rem;
  transition: 0.2s;
}
.icon-box-s i {
  background: linear-gradient(45deg, #6945f7, #c750e5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-box-s:hover {
  background: var(--primary-bg);
}

.social-icon-box {
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  color: var(--primary-text);
  border-radius: 0.5rem;
  font-size: 2.2rem;
  transition: 0.2s;
}
.social-icon-box:hover {
  background: #5142fb;
  color: var(--background);
}

.login-icon-box {
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  color: var(--primary-text);
  border-radius: 0.5rem;
  font-size: 2.2rem;
  transition: 0.2s;
}
.login-icon-box:hover {
  color: var(--background);
}

.icon-box-m {
  width: 5.05rem;
  height: 5.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  border-radius: 1.6rem;
  font-size: 2.2rem;
}

.image-box-m {
  min-width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--primary-bg-light);
  border-radius: 1.2rem;
  transition: 0.2s;
}
.image-box-m img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.profile-image-box-xs {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
}
.profile-image-box-xs img {
  border-radius: 1.5rem;
}

.profile-image-box-s {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 1.5rem;
}
.profile-image-box-s img {
  border-radius: 1.5rem;
}

.profile-image-box-s {
  width: 6.2rem;
  height: 6.2rem;
}
.profile-image-box-s img {
  border-radius: 2.1rem;
}

.profile-image-box-l {
  width: 9.6rem;
  height: 9.6rem;
  position: relative;
}
.profile-image-box-l img {
  border-radius: 3.5rem;
}
.profile-image-box-l span {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--primary-blue);
  top: 7.1rem;
  left: 7.1rem;
  border-radius: 50%;
}
.profile-image-box-l span i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  font-size: 1.4rem;
}

.badge-blue {
  background: var(--primary-blue);
  color: var(--background);
  padding: 0.4rem 1.1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.badge-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.85rem;
  background: var(--orchid);
  color: var(--background);
  font-size: 1.2rem;
  border-radius: 3rem;
}

hr {
  background: var(--shadow);
  height: 2px;
  margin: 1.6rem 0;
  border: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-purple-t);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 5px;
}

:root {
  scrollbar-color: var(--primary-purple) var(--primary-purple-t) !important;
  scrollbar-width: thin !important;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-text);
  margin-right: 6.5rem;
  font-size: 3rem;
  font-weight: 500;
  transition: 0.2s;
}
.logo i {
  background: linear-gradient(45deg, #6945f7, #c750e5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
  font-size: 3.5rem;
}
.logo:hover {
  background: linear-gradient(45deg, #6945f7, #c750e5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#signin__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 4rem;
}

.form-divider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.form-divider .label {
  margin-bottom: 0.7rem;
}

.label {
  color: var(--secondary-text);
  margin-left: 1rem;
  font-size: 1.4rem;
}

.input {
  background: transparent;
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--primary-bg-light);
  transition: 0.2s;
}
.input:focus-within {
  border: 2px solid var(--primary-purple);
  box-shadow: 0 0 0 4px var(--primary-purple-t2);
}

#password {
  font: 140% system-ui;
}

.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29rem;
  padding-left: 2.2rem;
  border: 0.2rem solid #5d5d6e;
  border-radius: 0.9rem;
  transition: 0.2s;
}
.input-form .input {
  background: transparent;
  color: #5d5d6e;
}
.input-form .input:focus {
  color: var(--primary-text);
}
.input-form .input-form__btn {
  background: var(--primary-blue);
  padding: 1rem;
  border-radius: 0 0.7rem 0.7rem 0;
  transition: 0.2s;
}
.input-form .input-form__btn i {
  font-size: 2rem;
  color: var(--background);
}
.input-form .input-form__btn:hover {
  background: var(--primary-purple);
}
.input-form:focus-within {
  border: 2px solid var(--primary-purple);
}

.arrow {
  display: inline-block;
  border: solid var(--primary-text);
  border-width: 0 0.24rem 0.24rem 0;
  padding: 0.27rem;
  border-radius: 0.2rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.profile-card-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--primary-bg);
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 1.5rem;
  transition: 0.2s;
}
.profile-card-s .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
}
.profile-card-s .info .info__role {
  color: var(--secondary-text);
  font-size: 1.2rem;
}
.profile-card-s .info .info__name {
  color: var(--primary-text);
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.box-xs {
  width: 50%;
  background: var(--primary-bg);
  color: var(--primary-text);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: 0.2s;
}

#main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--secondary-bg);
  padding: 8rem 4rem;
  transition: 0.2s;
}

#footer-informations {
  width: 18%;
  margin-right: 13rem;
}
#footer-informations .logo {
  color: var(--primary-text);
}
#footer-informations #footer__information {
  color: var(--primary-text);
  margin-top: 3rem;
  font-size: 1.4rem;
}

#footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#footer-nav .footer-nav__list, #footer-nav .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}
#footer-nav .footer-nav__list .list__items .list__item, #footer-nav .contact-us .list__items .list__item {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
#footer-nav .footer-nav__list .list__items .list__item a, #footer-nav .contact-us .list__items .list__item a {
  color: var(--secondary-text);
}
#footer-nav .footer-nav__list .list__items .list__item a:hover, #footer-nav .contact-us .list__items .list__item a:hover {
  text-decoration: 0.2rem underlinevar(--secondary-text);
}

.footer-nav__header, #subscribe {
  color: var(--primary-text);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

#subscribe .input {
  border: none;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.social-links .social-icon-box:not(:last-child) {
  margin-right: 1rem;
}

/*# sourceMappingURL=footer.css.map */
